/*
*    AMX TextEdit
*    Author: Afaan Bilal
*    https://afaan.ml/AMX-TextEdit
*    https://www.coderevolution.tk
*
*/

#include <windows.h>

MAIN_ICON ICON MOVEABLE PURE LOADONCALL DISCARDABLE "AMXTextEdit.ico"

1 VERSIONINFO
FILEVERSION 0, 0, 5, 52
PRODUCTVERSION 0, 0, 5, 52
FILETYPE VFT_APP
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904E4"
		BEGIN
			VALUE "CompanyName", "AMX Infinity!"
			VALUE "FileVersion", ""
			VALUE "FileDescription", "A simple, fast, tabbed text editor by Afaan Bilal"
			VALUE "InternalName", "AMXTextEdit"
			VALUE "LegalCopyright", "© Afaan Bilal"
			VALUE "LegalTrademarks", "AMX Infinity!"
			VALUE "OriginalFilename", "AMXTextEdit.exe"
			VALUE "ProductName", "AMX TextEdit"
			VALUE "ProductVersion", "1.0"
		END
	END

	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x0409, 1252
	END
END

